<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>ACE Engineering || Home</title>
</head>
<body>
    
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <img src="/img/cr-01.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="img/cr-02.jpg" class="d-block w-100">
            </div>
        </div>
        <img id="logo-car" src="/img/aceengineering_logotipo.png">
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                
                </ul>
                <a class="nav-link" href="#quienes">¿Quienes somos?</a>
                <a class="nav-link" href="#servicios">Nuestros servicios</a>
                <a class="nav-link" href="#">Universidad</a>
                <a class="nav-link" href="#">Contacto</a>
            </div> 
        </div>
    </nav>

    <div class="container mt-5" id="quienes">
        <div class="row">
            <div class="col-12">
                <h3 class="rojo">¿Quienes somos?</h3>
                <p>Somos expertos en el desarrollo de ingeniería conceptual y de detalle, estimado de costos y casos de negocio, bajo metodologías que dan certidumbre y minimizan el riesgo del proyecto. Supervisamos construcción de Estaciones de Servicio, terminales de almacenamiento y distribución, para finalmente operarlas y ofrecer mantenimiento a las mismas, con personal altamente capacitado.</p>
            </div> 
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <h4 class="rojo">Misión</h4>
                <p class="txt-justify">Proveer servicios técnicos especializados en la creciente actividad de consultoría, ingeniería, construcción y operación asociada al desarrollo de infraestructura en la cadena Mid-Downstream de la industria Oil & Gas.</p>
            </div>
            <div class="col-md-4">
                <img src="/img/1.jpg" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <h4 class="rojo">Visión</h4>
                <p class="txt-justify">Ser una empresa líder en los negocios de la industria Oil & Gas, contribuyendo al desarrollo de nuestros clientes a nivel nacional e internacional.</p>
            </div>
        </div>
    </div>

    <section id="expretos" class="m-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger active">Somos expertos en: </li>
                        <li class="list-group-item bold">Conformación del Sistemas de Gestión de Medición (SGM).</li>
                        <li class="list-group-item bold">Casos de Negocio.</li>
                        <li class="list-group-item bold">Universidad ACE(capacitación).</li>
                        <li class="list-group-item bold">Construcción de Estaciones de Servicio.</li>
                        <li class="list-group-item bold">Integrador de Servicios llave en mano para el Desarrollo de Infraestructura Logística.</li>
                        <li class="list-group-item bold">SASISOPA.</li>
                        <li class="list-group-item bold">Medición balance de producto almacenado.</li>
                        <li class="list-group-item bold">Medición de producto entregado al cliente.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="container">
                            <img src="/img/2.jpg" class="img-thumbnail"> 
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="container">
                            <p class="txt-justify">Apoyamos a que el regulado conozca la legislación vigente en materia ambiental, dado cumplimiento a los requisitos establecidos en las Disposiciones Administrativas de Carácter General que establecen los lineamientos para conformación, implementación y autorización del Sistema de Administración de Seguridad Industrial, Seguridad Operativo y Protección al Medio Ambiente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="servicios" class="bg-rojo">
        <div class="container pt-3 pb-5">
            <h2 class="white pt-3">Nuestros Servicios: </h2>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <a   class="servicio"
                         data-toggle="collapse" 
                         href="#collapsePyL" 
                         role="button" 
                         aria-expanded="false" 
                         aria-controls="collapsePyL"
                         style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Planeación y Logística</h4>
                    </a>
                    <div class="collapse" id="collapsePyL">
                        <div class="card card-body">
                            <ul>
                                <li>Casos de Negocio</li>
                                <li>Estudios de Mercado</li>
                                <li>Análisis Logísticos</li>
                                <li>Análisis Tarifarios</li>
                                <li>Análisis de Precios</li>
                                <li>Análisis de Riesgos Financieros</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <a class="servicio"
                        data-toggle="collapse" 
                        href="#collapsePyC" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="collapsePyC"
                        style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Proyectos y Construcción</h4>
                    </a>
                    <div class="collapse" id="collapsePyC">
                        <div class="card card-body">
                            <ul>
                                <li>Dirección y Gestión de Proyectos</li>
                                <ul>
                                    <li>Estaciones de Servicio</li>
                                    <li>Terminal de Almacenamiento y Reparto</li>
                                </ul>
                                <li>Gestoría y Tramitología</li>
                                <ul>
                                    <li>Estaciones de Servicio</li>
                                    <li>Terminal de Almacenamiento y Reparto</li>
                                </ul>
                                <li>Construcción de Estaciones de Servicio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <a   class="servicio"
                            data-toggle="collapse" 
                            href="#collapseSI" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="collapseSI"
                            style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Seguridad Industrial</h4>
                    </a>
                    <div class="collapse" id="collapseSI">
                        <div class="card card-body">
                            <ul>
                                <li>Opinión Técnica Calificada</li>
                                <ul>
                                    <li>ARP - Análisis de Riesgo de Proceso</li>
                                    <li>ACR - Análisis Causa Raíz</li>
                                    <li>LOPA - Layer of Protection Analysis</li>
                                    <li>Diseño de infraestructura</li>
                                </ul>
                                <li>Análisis de Riesgo de Procesos</li>
                                <li>Evaluación de Riesgo Ambiental</li>
                                <li>Manifestación de Impacto Ambiental</li>
                                <li>Evaluación de Impacto Social</li>
                                <ul>
                                    <li>Estaciones de Servicio</li>
                                    <li>Ternimales de Almacenamiento y Reparto</li>
                                    <li>Ductos</li>
                                    <li>Refinerias</li>
                                    <li>Pozos</li>
                                    <li>Complejos</li>
                                </ul>
                                <li>Auditorias a Sistemas de Gestión</li>
                                <ul>
                                    <li>ISO-14001</li>
                                    <li>OHSAS-18001</li>
                                    <li>ISO-45001</li>
                                    <li>ISO-50001</li>
                                    <li>SASISOPA Comercial e Industrial</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <a class="servicio"
                        data-toggle="collapse" 
                        href="#collapseMed" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="collapseMed"
                        style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Medición</h4>
                    </a>
                    <div class="collapse" id="collapseMed">
                        <div class="card card-body">
                            <ul>
                                <li>Evaluaciones Metrológicas</li>
                                <li>Auditorías a Sistemas de Gestión de Medición</li>
                                <li>Auditorías a Sistemas de Gestión de Laboratorios</li>
                                <li>Mantenimiento a Sistemas de Medición</li>
                                <li>Calibración y Verificación de Instrumentos de Medición</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <a   class="servicio"
                            data-toggle="collapse" 
                            href="#collapseSG" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="collapseSG"
                            style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Sistema de Gestión</h4>
                    </a>
                    <div class="collapse" id="collapseSG">
                        <div class="card card-body">
                            <ul>
                                <li>Desarrollo e Implementación de SASISOPA</li>
                                <ul>
                                    <li>Comercial</li>
                                    <li>Industrial</li>
                                </ul>
                                <li>Desarrollo e Implementación de Sistema de Gestión de Medición</li>
                                <ul>
                                    <li>DACG Medición CRE</li>
                                    <li>Lineamientos CNH</li>
                                </ul>
                                <li>Desarrollo e Implementación de Sistema de Gestió de Laboratorios</li>
                                <ul>
                                    <li>ISO/IEC-17025</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <a class="servicio"
                        data-toggle="collapse" 
                        href="#collapseIng" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="collapseIng"
                        style="text-align:center;">
                        <h4><i class="fas fa-gas-pump"></i> Ingeniería</h4>
                    </a>
                    <div class="collapse" id="collapseIng">
                        <div class="card card-body">
                            <ul>
                                <li>Conceptual</li>
                                <li>Básica</li>
                                <li>Básica Extendida</li>
                                <li>Detalle</li>
                                <li>As Buit</li>
                                <li>AS IS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="universidad" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="rojo pb-3" style="text-align:center;">Capacitación</h3>
                    <ul>
                        <li>Curso de conformación SASISOPA</li>
                        <li>Curso de conformación Sistema de Gestión de Medición</li>
                        <li>Curso de Diseño y Construcción de Estaciones de servicio - NOM-005-ASEA</li>
                        <li>Curso de Diseño y Construcción de Terminales de Almacenamiento y Reparto - NOM-006-ASEA</li>
                        <li>Curso de Diseño y Construcción de Estaciones de Carburación - NOM-003-ASEA</li>
                        <li>Curso de Diseño y Construcción de Estaciones de Gas Natural Vehicular - NOM-010-ASEA</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="rojo pb-3" style="text-align:center;">Evaluación</h3>
                            
                        <ul>
                            <li>CONOCER - Centro Evaluador Adscrito a UPSR</li>
                            <li>EC 1030 SASISOPA</li>
                            <li>EC 1030 SGM</li>
                            <li>Certificación de Competencias</li>
                        </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="clientes" class="container mt-5">
        <h3>Algunos de nuestros clientes</h3>
        <div class="cliente-imgs mt-5">
            <img src="/img/g500-logo.png" width="20%" height="10%">
            <img src="/img/fermaca-logo.png" width="30%" height="10%">
            <img src="/img/engie-logo.png" width="20%" height="10%"> 
            <img src="/img/gulf-logo.png" width="10%" height="10%">
        </div>
        <div class="cliente-imgs mt-5">
            <img src="/img/Pemex_logo.png" width="20%" height="10%"> 
            <img src="/img/carso-logo.png" width="20%" height="10%"> 
            <img src="/img/bp-logo.png" width="10%" height="10%">
            <img src="/img/igasa-logo.png" width="20%" height="10%">
        </div>
    </section>

    <section id="contacto" class="mt-5">
        <div class="container">
            <h2>Contacto: </h2>
            <form class="needs-validation mt-3" id="form">
                <div class="form-row">
                    <div class="col">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ejem: Chucho Pérez" required>
                        <div class="invalid-feedback">
                            Por favor ingresa tu nombre
                        </div>
                    </div>
                    <div class="col">
                        <label>Razón social</label>
                        <input type="text" class="form-control" id="razonSocial" placeholder="Ejem: El Carril S.A. de C.V.">
                        <p>* Opcional</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Teléfono</label>
                        <input type="number" class="form-control" id="telefono" placeholder="Tel. a 10 digítos" required>
                        <div class="invalid-feedback">
                            Por favor ingresa tu teléfono
                        </div>
                    </div>
                    <div class="col">
                        <label>Email</label>
                        <input type="text" class="form-control" id="email" placeholder="ejemplo@ejemplo.com" required>
                        <div class="invalid-feedback">
                            Por favor ingresa tu email
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">Descripción/Comentarios</label>
                    <textarea class="form-control" id="desCom"  rows="3"></textarea>
                    <p>* Opcional</p>    
                </div>
                <button type="submit" id="sendBtn" class="btn btn-outline-success btn-lg btn-block btn-lg btn-block">Enviar</button>
            </form>      
        </div>
        
    </section>
    
    <section id="ubicacion" class="bg-rojo mt-5">
        <div class="cont-ubicación-mobile">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            NODO BAJÍO
                        </button>
                    </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Av. Constituyentes, #57 Torre B Piso 8 Col. Cimatario, Querétaro, Qro.</p>
                        <p>Tel: +52 (442) 216 7617</p>
                        <a href="mailto:contacto@ace-engineering.com.mx" class="white">contacto@ace-engineering.com.mx</a>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.1001572336572!2d-100.39538638469548!3d20.58396700818856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d344d5c25b3d7f%3A0x95328bcfbc8f22d4!2sAv+Constituyentes+57%2C+Cimatario%2C+76030+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1sen!2smx!4v1558557279146!5m2!1sen!2smx" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            MATRIZ CUAUTLA
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Calle Bugambilias 4 Col. Brisas de Cuautla Cuautla Morelos, CP. 62757</p>
                        <p>Tel: +52 (735) 301 5595</p>
                        <a href="mailto:contacto@ace-engineering.com.mx" class="white">contacto@ace-engineering.com.mx</a>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.591571799548!2d-98.93025678471203!3d18.860819663601106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce6eb38f6aa853%3A0x2ffacb105924e928!2sAv+Bugambilias+4%2C+Brisas+de+Cuautla%2C+62757+Cuautla%2C+Mor.!5e0!3m2!1sen!2smx!4v1558557424938!5m2!1sen!2smx" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="container pt-3 cont-ubicación-desktop">
            <h2 class="white">Ubicación</h2>
            <div class="row">
                <div class="col-6">
                    <h3>NODO BAJÍO</h3>
                    <p class="white">Av. Constituyentes, #57 Torre B Piso 8 Col. Cimatario, Querétaro, Qro.</p>
                    <p class="white">Tel: +52 (442) 216 7617</p>
                    <a href="mailto:contacto@ace-engineering.com.mx" class="white">contacto@ace-engineering.com.mx</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.1001572336572!2d-100.39538638469548!3d20.58396700818856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d344d5c25b3d7f%3A0x95328bcfbc8f22d4!2sAv+Constituyentes+57%2C+Cimatario%2C+76030+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1sen!2smx!4v1558557279146!5m2!1sen!2smx" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-6">
                    <h3>MATRIZ CUAUTLA</h3>
                    <p class="white">Calle Bugambilias 4 Col. Brisas de Cuautla Cuautla Morelos, CP. 62757</p>
                    <p class="white">Tel: +52 (735) 301 5595</p>
                    <a href="mailto:contacto@ace-engineering.com.mx" class="white">contacto@ace-engineering.com.mx</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.591571799548!2d-98.93025678471203!3d18.860819663601106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce6eb38f6aa853%3A0x2ffacb105924e928!2sAv+Bugambilias+4%2C+Brisas+de+Cuautla%2C+62757+Cuautla%2C+Mor.!5e0!3m2!1sen!2smx!4v1558557424938!5m2!1sen!2smx" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                
            </div>
        </div>
    </section>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>